body {
    font-family: 'Lexend Deca', sans-serif;
}

:root { 
    --e-global-color-primary: #1f1f1f;
    --e-global-color-secondary: #4b2999;
    --e-global-color-text: #7c7c7c;
    --e-global-color-accent: #57eef1;
	--e-global-color-white: #ffffff;
    --e-global-color-black: #000000;
    --e-global-color-dark-gray: #282f3d;
    --e-global-color-grayish-blue: #a2abbd;
    --e-global-color-grayish-red: #c4c0c1;
    --e-global-color-very-pale-blue: #fafaff;
    --e-global-color-bright-yellow: #fbc729;
    --e-global-color-light-grayish-blue: #d0cee2;
    --e-global-color-dark-blue: #0e1625;
    --e-global-color-light-gray: #dedede;
    --e-global-color-light-gray-blue: #e8e7fb;
    --e-global-color-pale-blue: #f1f0ff;
    --e-global-color-very-dark-blue: #0d1422;
    --e-global-color-mostly-black: #111929;
    --e-global-color-mostly-black-blue: #161f30;
    --e-global-color-very-dark-grayish-blue: #29303f;
    --e-global-color-very-dark-mostly-black-blue: #111929;
    --e-global-color-very-dark-black-blue: #0a111e;
    --e-global-color-very-light-blue: #63686a;
    --e-global-color-very-light-gray: #e5e5e5;
}

h1{
    font-size: 74px;
    line-height: 77px;
    font-weight: 600;
}
h2{
    font-size: 44px;
    line-height: 49px;
    font-weight: 600;
}
h3{
    font-size: 28px;
    line-height: 40px;
    font-weight: 600;
}
h4{
    font-size: 20px;
    line-height: 34px;
    font-weight: 600;
}
h5{
    font-size: 18px;
    line-height: 26px;
    font-weight: 600;
}
h6{
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
}
p{
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
}
.text-size-18 {
    font-size: 18px;
    line-height: 26px;
    font-weight: 300;
}
.text-size-16 {
    font-size: 16px;
    line-height: 26px;
    font-weight: 300;
}
.text-size-14 {
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
}
a {
    font-size: 16px;
    line-height: 16px;
    font-weight: 500;
}
.default-btn {
    padding: 20px 42px;
    display: inline-block;
    color: var(--e-global-color-white);
    background-image: linear-gradient(90deg, var(--e-global-color-secondary) 0%, var(--e-global-color-accent) 100%);
    transition: all 0.3s ease-in-out;
}
.default-btn:hover {
    color: var(--e-global-color-white);
    background-image: linear-gradient(90deg, var(--e-global-color-accent) 0%, var(--e-global-color-secondary) 100%);
}
.hover-effect {
    transition: all 0.3s ease-in-out;
}
.hover-effect:hover {
    transform: translateY(-5px);
}

/*Newsletter Form*/
.newsletter_content form .form-row {
    margin: 0;
}
.newsletter_content input {
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    background-color: var(--e-global-color-white);
    color: var(--e-global-color-text);
    outline: none;
    box-shadow: none;
    border: 1px solid transparent;
    height: 55px;
    width: 100%;
    padding: 10px 18px;
    margin-bottom: 25px;
    border-radius: 0;
}
.newsletter_content input::placeholder{
    color: var(--e-global-color-text);
}
.newsletter_content input:focus {
    outline: none;
    box-shadow: none;
    border: 1px solid var(--e-global-color-accent);
    background-color: var(--e-global-color-white);
    color: var(--e-global-color-text);
}
.newsletter_content .btn {
    position: absolute;
    right: 8px;
    top: 5px;
    font-size: 16px;
    height: 45px;
    width: 47px;
    line-height: 42px;
    text-align: center;
    padding: 0;
    border-radius: 0;
    background-image: linear-gradient(32deg, var(--e-global-color-secondary) 0%, var(--e-global-color-accent) 100%);
    color: var(--e-global-color-white);
    outline: none;
    box-shadow: none;
    transition: all 0.3s ease-in-out;
    border: 0;
}
.newsletter_content .btn:hover{
    background-image: linear-gradient(32deg, var(--e-global-color-accent) 0%, var(--e-global-color-secondary) 100%);
}
/*Blog Post Style 1*/
.news_articles_section .news_articles_box {
    background-color: var(--e-global-color-white);
    transition: all 0.3s ease-in-out;
}
.news_articles_section .news_articles_box .news_articles_box_content {
    padding: 28px 52px 28px 36px;
}
.news_articles_section .news_articles_box .news_articles_box_content .span_wrapper {
    margin-bottom: 5px;
}
.news_articles_section .news_articles_box .news_articles_box_content .span_wrapper span {
    font-size: 12px;
    line-height: 18px;
    font-weight: 300;
    color: var(--e-global-color-secondary);
}
.news_articles_section .news_articles_box .news_articles_box_content .span_wrapper .dash {
    padding-left: 4px;
}
.news_articles_section .news_articles_box .news_articles_box_content h5 {
    line-height: 23px;
    color: var(--e-global-color-primary);
}
.news_articles_section .news_articles_box .news_articles_box_content p {
    margin-bottom: 17px;
    color: var(--e-global-color-text);
}
.news_articles_section .news_articles_box:hover h5 {
    color: var(--e-global-color-accent);
}
.news_articles_section .news_articles_box figure {
    overflow: hidden;
    background-color: var(--e-global-color-black);
}
.news_articles_section .news_articles_box figure img {
    transition: all 0.3s ease-in-out;
}
.news_articles_section .news_articles_box:hover figure img {
    transform: scale(1.1);
    opacity: 0.5;
}
.news_articles_section .news_articles_box .news_articles_box_content i {
    font-family: 'FontAwesome';
    font-size: 14px;
    line-height: 14px;
    color: var(--e-global-color-primary);
    transition: all 0.3s ease-in-out;
}
.news_articles_section .news_articles_box:hover .news_articles_box_content i {
    color: var(--e-global-color-accent);
}
.news_articles_section .news_articles_box {
    margin: 0 auto 25px;
}

/*Testimonial Style 1*/
.testimonials-section .testimonial-box {
    padding: 45px 60px 50px 40px;
    background-color: var(--e-global-color-white);
    box-shadow: 0 6px 86px 20px rgb(248 247 255 / 0.58);
}
.testimonials-section .testimonial-box ul {
    margin-bottom: 14px;
}
.testimonials-section .testimonial-box ul li {
    display: inline-block;
}
.testimonials-section .testimonial-box ul li i {
    color: var(--e-global-color-bright-yellow);
    font-size: 13px;
}
.testimonials-section .testimonial-box .user-img {
    float: left;
    margin-right: 17px !important;
    margin-top: -2px !important;
}
.testimonials-section .testimonial-box .user-img img{
    border-radius: 100px;
}
.testimonials-section .testimonial-box .designation-outer {
    display: inline-block;
    padding-top: 2px;
}
.testimonials-section .testimonial-box .designation-outer .member_name {
    color: var(--e-global-color-primary);
    font-weight: 500;
    line-height: 22px;
}
.testimonials-section .testimonial-box .designation-outer .member_designation {
    color: var(--e-global-color-text);
}
.testimonials-section .testimonial-box .review {
    color: var(--e-global-color-primary);
    font-weight: 400;
    line-height: 27px;
    margin-bottom: 34px;
}
.testimonials-section .testimonial-box .quote-img {
    top: 0;
    right: -5px;
}
.testimonials-section .owl-carousel .owl-stage-outer {
    padding: 50px 0;
}
.testimonials-section .owl-carousel .owl-dots {
    display: block !important;
    margin-top: -22px !important;
    line-height: 0;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
}
.testimonials-section .owl-carousel .owl-dots .owl-dot span {
    background: var(--e-global-color-light-grayish-blue);
    width: 12px;
    height: 12px;
    display: block;
    border-radius: 100%;
    margin: 0 5px;
    transition: all 0.3s ease-in-out;
}
.testimonials-section .owl-carousel .owl-dots .owl-dot:hover span {
    background-image: linear-gradient(30deg, var(--e-global-color-secondary) 0%, var(--e-global-color-accent) 100%);
}
.testimonials-section .owl-carousel .owl-dots .owl-dot.active span {
    width: 17px;
    height: 17px;
    position: relative;
    top: 3px;
    background-image: linear-gradient(30deg, var(--e-global-color-secondary) 0%, var(--e-global-color-accent) 100%);
}
.testimonials-section .owl-carousel .owl-dots .owl-dot:focus,.testimonials-section .owl-carousel .owl-dots .owl-dot:hover {
    outline: none;
    background-color: transparent !important;
}
/*Case Study*/
.case_studies_section .case_studies_box {
    position: relative;
    background-image: linear-gradient(90deg, var(--e-global-color-black) 0%, var(--e-global-color-black) 100%);
    transition: all 0.3s ease-in-out;
}
.case_studies_section .case_studies_box img {
    opacity: 0.75;
    transition: all 0.3s ease-in-out;
}
.case_studies_section .case_studies_box img:hover {
    opacity: 50%;
}
.case_studies_section .case_studies_box:hover figure {
    background-image: linear-gradient(to top, var(--e-global-color-secondary) 0%, var(--e-global-color-accent) 100%);
}
.case_studies_section .case_studies_box .case_studies_box_content {
    position: absolute;
    bottom: 30px;
    left: 40px;
}
.case_studies_section .case_studies_box .case_studies_box_content span {
    font-size: 12px;
    line-height: 14px;
    font-weight: 300;
    color: var(--e-global-color-white);
    background-color: rgba(255, 255, 255, 0.15);
    display: inline-block;
    padding: 5px 16px;
    margin-bottom: 22px;
    transition: all 0.3s ease-in-out;
}
.case_studies_section .case_studies_box .case_studies_box_content h5 {
    margin-bottom: 12px;
    padding-right: 36px;
    line-height: 1.5em;
}
.case_studies_section .case_studies_box .case_studies_box_content a{
    display: inline-block;
}
.case_studies_section .case_studies_box .case_studies_box_content figure {
    width: 45px;
    height: 45px;
    line-height: 40px;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.4);
    background-color: transparent;
    border-radius: 100%;
    transition: all 0.3s ease-in-out;
    display: flex;
    align-items: center;
}
.case_studies_section .case_studies_box .case_studies_box_content figure img {
    filter: brightness(0) invert(1);
    transition: all 0.3s ease-in-out;
    opacity: 1;
    width: auto;
    margin: 0 auto;
    height: 13px;
}
.case_studies_section .case_studies_box:hover .case_studies_box_content span {
    background-color: var(--e-global-color-white);
    color: var(--e-global-color-primary);
}
.case_studies_section .case_studies_box:hover .case_studies_box_content figure {
    background-color: var(--e-global-color-white);
    background-image: none;
}
.case_studies_section .case_studies_box:hover .case_studies_box_content figure img {
    filter: none;
}
.case_studies_section .case_studies_box .case_studies_box_content figure:hover {   
    border: 1px solid var(--e-global-color-pale-blue);
    background-color: var(--e-global-color-pale-blue);
}
.case_studies_section .case_studies_box .case_studies_box_content figure:hover img {
    filter: brightness(0);
    opacity: 1;
}
.case_studies_section .owl-carousel .owl-dots {
    display: block !important;
    margin-top: 25px !important;
    line-height: 0;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
}
.case_studies_section .owl-carousel .owl-dots .owl-dot span {
    display: block;
    border-radius: 100%;
    background: var(--e-global-color-light-grayish-blue);
    width: 12px;
    height: 12px;
    margin: 0 5px;
    transition: all 0.3s ease-in-out;
}
.case_studies_section .owl-carousel .owl-dots .owl-dot:hover span {
    background-image: linear-gradient(30deg, var(--e-global-color-secondary) 0%, var(--e-global-color-accent) 100%);
}
.case_studies_section .owl-carousel .owl-dots .owl-dot.active span {
    width: 17px;
    height: 17px;
    position: relative;
    top: 3px;
    background-image: linear-gradient(30deg, var(--e-global-color-secondary) 0%, var(--e-global-color-accent) 100%);
}
.case_studies_section .owl-carousel .owl-dots .owl-dot:focus,.case_studies_section .owl-carousel .owl-dots .owl-dot:hover {
    outline: none;
    background-color: transparent !important;
}
/*Services Style 1*/
.services_section .services_box {
    padding: 45px 45px 45px;
    border: 1px solid rgba(236, 236, 248, 0.15);
    transition: all 0.3s ease-in-out;
    margin: 15px;
}
.services_section .service_last_box {
    border-right: none;
}
.services_section .service_lower_box{
    border-bottom: none;
}
.services_section .services_box:hover {
    background-image: linear-gradient(46deg, var(--e-global-color-secondary) 0%, var(--e-global-color-accent) 100%);
}
.services_section .services_box:hover p {
    color: var(--e-global-color-white);
}
.services_section .services_box:hover figure img {
    filter: brightness(0) invert(1);
}
.services_section .services_box figure {
    margin-bottom: 22px !important;
    transition: all 0.3s ease-in-out;
}
.services_section .services_box h4 {
    margin-bottom: 10px;
    color: var(--e-global-color-white);
    transition: all 0.3s ease-in-out;
}
.services_section .services_box p {
    margin-bottom: 25px;
    color: var(--e-global-color-grayish-blue);
    transition: all 0.3s ease-in-out;
}
.services_section .services_box .services_arrow {
    width: 45px;
    height: 45px;
    line-height: 40px;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background-color: transparent;
    border-radius: 100%;
    transition: all 0.3s ease-in-out;
    display: inline-block;
    cursor: pointer;
    margin-bottom: 0px !important;
}
.services_section .services_box .services_arrow img {
    filter: brightness(0) invert(1);
    transition: all 0.3s ease-in-out;
}
.services_section .services_box:hover .services_arrow {
    background-color: var(--e-global-color-white);
    background-image: none;
}
.services_section .services_box:hover .services_arrow img {
    filter: none;
}
.services_section .services_box .services_arrow:hover {
    border: 1px solid var(--e-global-color-pale-blue);
    background-color: var(--e-global-color-pale-blue);
}
.services_section .services_box .services_arrow:hover img {
    filter: brightness(1) invert(0);
}
.services_section .services_left_shape {
    left: 0;
    top: 0;
}
.services_section .services_left_shape img {
    opacity: 0.08;
}
.services_section .services_right_shape {
    bottom: 0;
    right: 0;
}
.services_section .services_right_shape img {
    opacity: 0.08;
}
/*Services 2*/
.cyber_security_services_section .cyber_security_services_box {
    padding: 40px 15px;
    background-color: var(--e-global-color-mostly-black);
    transition: all 0.3s ease-in-out;
}
.cyber_security_services_section .cyber_security_services_box:hover {
    background-image: linear-gradient(46deg, var(--e-global-color-secondary) 0%, var(--e-global-color-accent) 100%);
}
.cyber_security_services_section .cyber_security_services_box:hover p {
    color: var(--e-global-color-white);
}
.cyber_security_services_section .cyber_security_services_box .cyber_security_services_image {
    background-image: linear-gradient(32deg, var(--e-global-color-secondary) 0%, var(--e-global-color-accent) 100%);
    border-radius: 100%;
    height: 106px;
    width: 106px;
    line-height: 106px;
    text-align: center;
    margin: 0 auto 26px !important;
    transition: all 0.3s ease-in-out;
}
.cyber_security_services_section .cyber_security_services_box .cyber_security_services_image img{
    filter: brightness(10);
}
.cyber_security_services_section .cyber_security_services_box:hover .cyber_security_services_image {
    background-color: rgba(255, 255, 255, 0.15);
    background-image: none;
}
.cyber_security_services_section .cyber_security_services_box h5 {
    margin-bottom: 10px;
    color: var(--e-global-color-white);
    transition: all 0.3s ease-in-out;
}
.cyber_security_services_section .cyber_security_services_box p {
    margin-bottom: 27px;
    color: var(--e-global-color-grayish-blue);
    transition: all 0.3s ease-in-out;
}
.cyber_security_services_section .cyber_security_services_box .services_arrow {
    width: 45px;
    height: 45px;
    line-height: 40px;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background-color: transparent;
    border-radius: 100%;
    transition: all 0.3s ease-in-out;
    display: inline-block;
}
.cyber_security_services_section .cyber_security_services_box .services_arrow img {
    filter: brightness(0) invert(1);
    transition: all 0.3s ease-in-out;
}
.cyber_security_services_section .cyber_security_services_box:hover .services_arrow {
    background-color: var(--e-global-color-white);
    background-image: none;
}
.cyber_security_services_section .cyber_security_services_box:hover .services_arrow img {
    filter: none;
}
.cyber_security_services_section .cyber_security_services_box .services_arrow:hover {
    border: 1px solid rgba(255, 255, 255, 0.4);
    background-color: var(--e-global-color-pale-blue);
}
.cyber_security_services_section .cyber_security_services_box .services_arrow:hover img {
    filter: brightness(0);
}
/*Blog Style 2*/
.blog_posts_section .blog_posts_content {
    text-align: center;
}
.blog_posts_section .blog_posts_content h6 {
    letter-spacing: 1.6px;
    color: var(--e-global-color-accent);
}
.blog_posts_section .blog_posts_content h2 {
    margin-bottom: 50px;
    color: var(--e-global-color-white);
}
.blog_posts_section .blog_posts_box {
    transition: all 0.3s ease-in-out;
}
.blog_posts_section .blog_posts_box figure {
    margin-bottom: 20px !important;
    overflow: hidden;
    background-color: var(--e-global-color-black);
}
.blog_posts_section .blog_posts_box figure img {
    transition: all 0.3s ease-in-out
}
.blog_posts_section .blog_posts_box .span_wrapper {
    margin-bottom: 8px;
}
.blog_posts_section .blog_posts_box .span_wrapper span {
    font-size: 12px;
    line-height: 18px;
    font-weight: 300;
    color: var(--e-global-color-accent);
}
.blog_posts_section .blog_posts_box .span_wrapper .dash {
    padding-left: 4px;
}
.blog_posts_section .blog_posts_box h5 {
    line-height: 23px;
    padding-right: 25px;
    color: var(--e-global-color-white);
    transition: all 0.3s ease-in-out
}
.blog_posts_section .blog_posts_box p {
    padding-right: 80px;
    color: var(--e-global-color-grayish-blue);
}
.blog_posts_section .blog_posts_box:hover figure img {
    opacity: 0.5;
    transform: scale(1.1);
}
.blog_posts_section .blog_posts_box:hover h5 {
    color: var(--e-global-color-accent);
}
.blog_posts_section .blog_posts_left_shape {
    left: 0;
    bottom: 0;
}
.blog_posts_section .blog_posts_left_shape img {
    opacity: 0.1;
}
.blog_posts_section .blog_posts_right_shape {
    top: 0;
    right: 0;
}
.blog_posts_section .blog_posts_right_shape img {
    opacity: 0.1;
}
/*Contact Form Section*/
.get_in_touch_section .get_in_touch_content {
    text-align: center;
}
.get_in_touch_section .get_in_touch_content h6 {
    letter-spacing: 1.6px;
    color: var(--e-global-color-accent);
}
.get_in_touch_section .get_in_touch_content h2 {
    margin-bottom: 50px;
    color: var(--e-global-color-white);
}
.get_in_touch_section .get_in_touch_form_content input {
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    background-color: var(--e-global-color-mostly-black);
    color: var(--e-global-color-grayish-blue);
    padding: 15px 26px;
    height: 58px;
    border-radius: 0;
    width: 100%;
    margin-bottom: 18px;
    outline: none;
    border: 1px solid transparent;
    box-shadow: none;    
    transition: all 0.3s ease-in-out;
}
.get_in_touch_section .get_in_touch_form_content textarea {
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    background-color: var(--e-global-color-mostly-black);
    color: var(--e-global-color-grayish-blue);
    padding: 15px 26px;
    resize: none;
    height: 132px;
    border-radius: 0;
    width: 100%;
    margin-bottom: 50px;
    outline: none;
    border: 1px solid transparent;
    box-shadow: none;
    overflow: auto;
    transition: all 0.3s ease-in-out;
}
.get_in_touch_section .get_in_touch_form_content input:focus{
    box-shadow: none;
    border: 1px solid var(--e-global-color-grayish-blue);
}
.get_in_touch_section .get_in_touch_form_content textarea:focus{
    border: 1px solid var(--e-global-color-grayish-blue);
}
.get_in_touch_section .get_in_touch_form_content .form-control::placeholder { 
    color: var(--e-global-color-grayish-blue);
}
.get_in_touch_section .get_in_touch_form_content .form_button_wrapper button {
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    padding: 20px 40px !important;
    color: var(--e-global-color-white);
    border: none;
    border-radius: 0;
    box-shadow: none;
    outline: none;
    cursor: pointer;
}
/*Testimonial Style 2*/
.security_testimonial_section .testimonial-box p{
    color: var(--e-global-color-grayish-blue);
    font-weight: 400;
    margin-bottom: 28px;
}
.security_testimonial_section .testimonial-box .info ul {
    margin-bottom: 6px;
}
.security_testimonial_section .testimonial-box .info ul li {
    display: inline-block;
}
.security_testimonial_section .testimonial-box .info ul li i {
    color: var(--e-global-color-bright-yellow);
    font-size: 16px;
}
.security_testimonial_section .testimonial-box .info h6{
    letter-spacing: 0 !important;
    color: var(--e-global-color-white);
}
.security_testimonial_section .owl-carousel .owl-dots {
    display: block !important;
    margin-top: 22px !important;
    position: absolute;
    left: 0;
}
.security_testimonial_section .owl-carousel .owl-dots .owl-dot span {
    background: var(--e-global-color-light-grayish-blue);
    width: 19px;
    height: 4px;
    display: block;
    border-radius: 2px;
    margin: 0 5px;
    transition: all 0.3s ease-in-out;
}
.security_testimonial_section .owl-carousel .owl-dots .owl-dot:hover span {
    background-image: linear-gradient(30deg, var(--e-global-color-secondary) 0%, var(--e-global-color-accent) 100%);
}
.security_testimonial_section .owl-carousel .owl-dots .owl-dot.active span {
    width: 29px;
    height: 4px;
    display: block;
    border-radius: 2px;
    position: relative;
    background-image: linear-gradient(30deg, var(--e-global-color-secondary) 0%, var(--e-global-color-accent) 100%);
}
.security_testimonial_section .owl-carousel .owl-dots .owl-dot:focus,.security_testimonial_section .owl-carousel .owl-dots .owl-dot:hover {
    outline: none;
    background-color: transparent;
}
/*icon size*/
.adjust-icon-size i{
    font-weight: 700 !important;
}
/*Services Style 3*/
.secure_service-section .service_boxcontent{
    width: 100%;
    margin-bottom: 46px;
    background: var(--e-global-color-white);
    transition: all 0.3s ease-in-out;
}
.secure_service-section .service_boxcontent .upper_portion{
    position: relative;
}
.secure_service-section .service_boxcontent .upper_portion .service-image{
    overflow: hidden;
    background-color: var(--e-global-color-black);
}
.secure_service-section .service_boxcontent .upper_portion .service-image .article_img{
    width: 100%;
    transition: all 0.3s ease-in-out;
}
.secure_service-section .service_boxcontent:hover .service-image .article_img{
    transform: scale(1.1);
    opacity: 0.5;
}
.secure_service-section .service_boxcontent .upper_portion .image_content{
    position: relative;
}
.secure_service-section .service_boxcontent .upper_portion .image_content .service-icon{
    height: 102px;
    width: 102px;
    line-height: 102px;
    bottom: -50px;
    border-radius: 100px;
    text-align: center;
    display: inline-block;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    box-shadow: 8px 2px 20px rgb(0 0 0 / 10%);
    background-image: linear-gradient(32deg, var(--e-global-color-secondary) 0%, var(--e-global-color-accent) 100%);
    transition: all 0.3s ease-in-out;
}
.secure_service-section .service_boxcontent .lower_portion_wrapper {
    text-align: center;
    padding: 77px 48px 30px;
}
.secure_service-section .service_boxcontent .lower_portion_wrapper h4 {
    margin-bottom: 9px;
}
.secure_service-section .service_boxcontent .lower_portion_wrapper p {
    margin-bottom: 10px;
    color: var(--e-global-color-text);
}
.secure_service-section .service_boxcontent .lower_portion_wrapper .read_more {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: var(--e-global-color-secondary);
    transition: all 0.3s ease-in-out;
}
.secure_service-section .service_boxcontent .lower_portion_wrapper .read_more i{
    font-size: 12px;
    line-height: 12px;
    margin-left: 5px;
    color: var(--e-global-color-secondary);
    transition: all 0.3s ease-in-out;
}
.secure_service-section .service_boxcontent .lower_portion_wrapper .read_more:hover {
    color: var(--e-global-color-accent);
}
.secure_service-section .service_boxcontent .lower_portion_wrapper .read_more:hover i{
    color: var(--e-global-color-accent);
}
.secure_service-section .owl-carousel .owl-dots {
    position: absolute;
    display: block !important;
    margin-top: 0px !important;
    line-height: 0;
    left: 0;
    right: 0;
    text-align: center;
}
.secure_service-section .owl-carousel .owl-dots .owl-dot span {
    background: var(--e-global-color-light-grayish-blue);
    width: 12px;
    height: 12px;
    margin: 0 5px;
    border-radius: 100%;
    display: block;
    transition: all 0.3s ease-in-out;
}
.secure_service-section .owl-carousel .owl-dots .owl-dot:hover span {
    background-image: linear-gradient(30deg, var(--e-global-color-secondary) 0%, var(--e-global-color-accent) 100%);
}
.secure_service-section .owl-carousel .owl-dots .owl-dot.active span {
    background-image: linear-gradient(30deg, var(--e-global-color-secondary) 0%, var(--e-global-color-accent) 100%);
    width: 17px;
    height: 17px;
    display: block;
}
.secure_service-section .owl-carousel .owl-dots .owl-dot:focus,.secure_service-section .owl-carousel .owl-dots .owl-dot:hover {
    outline: none;
    background-color: transparent !important;
}
.secure_service-section .owl-carousel .owl-item img {
    display: inline-block;
    width: auto;
}
/*Testimonial Style 3*/
.secure_testimonial_section .testimonial-box p{
    color: var(--e-global-color-text);
    font-weight: 400;
    margin-bottom: 28px;
}
.secure_testimonial_section .testimonial-box .info ul {
    margin-bottom: 6px;
}
.secure_testimonial_section .testimonial-box .info ul li {
    display: inline-block;
}
.secure_testimonial_section .testimonial-box .info ul li i {
    color: var(--e-global-color-bright-yellow);
    font-size: 17px;
}
.secure_testimonial_section .testimonial-box .info h6{
    font-weight: 500;
    letter-spacing: 0 !important;
    color: var(--e-global-color-primary);
}
.secure_testimonial_section .owl-carousel .owl-dots {
    display: block !important;
    margin-top: 25px !important;
    position: absolute;
    left: 0;
}
.secure_testimonial_section .owl-carousel .owl-dots .owl-dot span {
    background: var(--e-global-color-light-grayish-blue);
    width: 19px;
    height: 4px;
    border-radius: 2px;
    margin: 0 5px;
    display: block;
    border-radius: 100%;
    transition: all 0.3s ease-in-out;
}
.secure_testimonial_section .owl-carousel .owl-dots .owl-dot:hover span {
    background-image: linear-gradient(30deg, var(--e-global-color-secondary) 0%, var(--e-global-color-accent) 100%);
}
.secure_testimonial_section .owl-carousel .owl-dots .owl-dot.active span {
    width: 29px;
    height: 4px;
    border-radius: 2px;
    position: relative;
    background-image: linear-gradient(30deg, var(--e-global-color-secondary) 0%, var(--e-global-color-accent) 100%);
}
.secure_testimonial_section .owl-carousel .owl-dots .owl-dot:focus,.secure_testimonial_section .owl-carousel .owl-dots .owl-dot:hover{
    outline: none;
    background-color: transparent !important;
}
/*FAQ Section*/
.home-3-faq i::before{
    background-color: transparent;
    background-image: linear-gradient(120deg, var(--e-global-color-secondary) 0%, var(--e-global-color-c3e8e8c) 100%);
    padding: 10px;
    color: white;
    border-radius: 100%;
}
/*Teams Widget*/
.about_team-section .team-box {
    position: relative;
    text-align: center;
    background-color: var(--e-global-color-white);
    transition: all 0.3s ease-in-out;
}
.about_team-section .team-box .content{
    padding: 30px 0 32px;
}
.about_team-section .team-box h4{
    color: var(--e-global-color-primary) !important;
    margin-bottom: 5px !important;
}
.about_team-section .team-box span {
    margin-bottom: 14px;
    display: block;
    color: var(--e-global-color-text);
}
.about_team-section .team-box li {
    margin: 0 2px;
    display: inline-block;
    transition: all 0.3s ease-in-out;
}
.about_team-section .team-box li:first-child {
    margin-left: 0;
}
.about_team-section .team-box li:last-child {
    margin-right: 0;
}
.about_team-section .team-box li a {
    color: var(--e-global-color-white);
}
.about_team-section .team-box i {
    font-size: 14px;
    height: 36px;
    width: 36px;
    line-height: 36px;
    text-align: center;
    border-radius: 100px;
    background-image: linear-gradient(32deg, var(--e-global-color-secondary) 0%, var(--e-global-color-accent) 100%);
    transition: all 0.3s ease-in-out;
}
.about_team-section .team-box:hover i{    
    background-image: linear-gradient(32deg, var(--e-global-color-accent) 0%, var(--e-global-color-secondary) 100%);
}
.about_team-section .team-box i:hover{    
    transform: translateY(-5px);
}
.about_team-section .team-box .image{
    overflow: hidden;
    background-color: var(--e-global-color-black);
}
.about_team-section .team-box .image img{
    width: 100%;
    transition: all 0.3s ease-in-out;
}
.about_team-section .team-box:hover .image img{
    transform: scale(1.1);
    opacity: 70%;
}
/*Services Style 4*/
.servicepage_service-section .service_boxcontent{
    width: 100%;
    margin-bottom: 32px;
    background: var(--e-global-color-white);
    transition: all 0.3s ease-in-out;
}
.servicepage_service-section .service_boxcontent .upper_portion{
    position: relative;
}
.servicepage_service-section .service_boxcontent .upper_portion .service-image{
    overflow: hidden;
    background-color: var(--e-global-color-black);
}
.servicepage_service-section .service_boxcontent .upper_portion .service-image .article_img{
    width: 100%;
    transition: all 0.3s ease-in-out;
}
.servicepage_service-section .service_boxcontent:hover .service-image .article_img{
    transform: scale(1.1);
    opacity: 0.5;
}
.servicepage_service-section .service_boxcontent .upper_portion .image_content{
    position: relative;
}
.servicepage_service-section .service_boxcontent .upper_portion .image_content .service-icon{
    height: 102px;
    width: 102px;
    line-height: 102px;
    bottom: -50px;
    border-radius: 100px;
    text-align: center;
    display: inline-block;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    box-shadow: 8px 2px 20px rgb(0 0 0 / 10%);
    background-image: linear-gradient(32deg, var(--e-global-color-secondary) 0%, var(--e-global-color-accent) 100%);
    transition: all 0.3s ease-in-out;
}
.servicepage_service-section .service_boxcontent .lower_portion_wrapper {
    text-align: center;
    padding: 72px 48px 34px;
}
.servicepage_service-section .service_boxcontent .lower_portion_wrapper h4 {
    margin-bottom: 4px;
}
.servicepage_service-section .service_boxcontent .lower_portion_wrapper p {
    margin-bottom: 10px;
    color: var(--e-global-color-text);
}
.servicepage_service-section .service_boxcontent .lower_portion_wrapper .read_more {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: var(--e-global-color-secondary);
    transition: all 0.3s ease-in-out;
}
.servicepage_service-section .service_boxcontent .lower_portion_wrapper .read_more i{
    font-size: 12px;
    line-height: 12px;
    margin-left: 5px;
    color: var(--e-global-color-secondary);
    transition: all 0.3s ease-in-out;
}
.servicepage_service-section .service_boxcontent .lower_portion_wrapper .read_more:hover {
    color: var(--e-global-color-accent);
}
.servicepage_service-section .service_boxcontent .lower_portion_wrapper .read_more:hover i{
    color: var(--e-global-color-accent);
}
.servicepage_service-section .service_boxcontent .upper_portion .image_content .service-icon img{
    filter: brightness(10);
}
/*Case Studies Style 2*/
.project_portfolio-section .case_studies_box {
    margin-bottom: 32px;
    position: relative;
    background-image: linear-gradient(90deg, var(--e-global-color-black) 0%, var(--e-global-color-black) 100%);
    transition: all 0.3s ease-in-out;
}
.project_portfolio-section .case_studies_box img {
    opacity: 0.75;
    transition: all 0.3s ease-in-out;
}
.project_portfolio-section .case_studies_box img:hover {
    opacity: 50%;
}
.project_portfolio-section .case_studies_box:hover figure {
    background-image: linear-gradient(to top, var(--e-global-color-secondary) 0%, var(--e-global-color-accent) 100%);
}
.project_portfolio-section .case_studies_box .case_studies_box_content {
    position: absolute;
    bottom: 30px;
    left: 40px;
}
.project_portfolio-section .case_studies_box .case_studies_box_content span {
    font-size: 12px;
    line-height: 14px;
    font-weight: 300;
    color: var(--e-global-color-white);
    background-color: rgba(255, 255, 255, 0.15);
    display: inline-block;
    padding: 5px 16px;
    margin-bottom: 22px;
    transition: all 0.3s ease-in-out;
}
.project_portfolio-section .case_studies_box .case_studies_box_content h5 {
    margin-bottom: 12px;
    padding-right: 36px;
}
.project_portfolio-section .case_studies_box .case_studies_box_content a{
    display: inline-block;
}
.project_portfolio-section .case_studies_box .case_studies_box_content figure {
    width: 45px;
    height: 45px;
    line-height: 40px;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.4);
    background-color: transparent;
    border-radius: 100%;
    transition: all 0.3s ease-in-out;
    display: flex;
    align-items: center;
}
.project_portfolio-section .case_studies_box .case_studies_box_content figure img {
    filter: brightness(0) invert(1);
    transition: all 0.3s ease-in-out;
    opacity: 1;
    width: auto;
    margin: 0 auto;
}
.project_portfolio-section .case_studies_box:hover .case_studies_box_content span {
    background-color: var(--e-global-color-white);
    color: var(--e-global-color-primary);
}
.project_portfolio-section .case_studies_box:hover .case_studies_box_content figure {
    background-color: var(--e-global-color-white);
    background-image: none;
}
.project_portfolio-section .case_studies_box:hover .case_studies_box_content figure img {
    filter: none;
}
.project_portfolio-section .case_studies_box .case_studies_box_content figure:hover {
    border: 1px solid var(--e-global-color-pale-blue);
    background-color: var(--e-global-color-pale-blue);
}
.project_portfolio-section .case_studies_box .case_studies_box_content figure:hover img {
    filter: brightness(0);
    opacity: 1;
}
.project_portfolio-section .btn_wrapper{
    text-align: center;
    padding-top: 18px;
}
/*Contact Form Page*/
.contact_form-section .get_in_touch_content h2 {
    margin-bottom: 50px;
    color: var(--e-global-color-primary);
}
.contact_form-section .get_in_touch_form_content input {
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    background-color: var(--e-global-color-white);
    color: var(--e-global-color-text);
    box-shadow: 0 6px 86px 20px rgb(248 247 255 / 74%);
    padding: 15px 26px;
    height: 58px;
    border-radius: 0;
    width: 100%;
    margin-bottom: 18px;
    outline: none;
    border: 1px solid transparent;
    transition: all 0.3s ease-in-out;
}
.contact_form-section .get_in_touch_form_content textarea {
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    background-color: var(--e-global-color-white);
    color: var(--e-global-color-text);
    box-shadow: 0 6px 86px 20px rgb(248 247 255 / 74%);
    padding: 15px 26px;
    resize: none;
    height: 132px;
    border-radius: 0;
    width: 100%;
    margin-bottom: 50px;
    outline: none;
    border: 1px solid transparent;
    overflow: auto;
    transition: all 0.3s ease-in-out;
}
.contact_form-section .get_in_touch_form_content input:focus{
    box-shadow: none;
    border: 1px solid var(--e-global-color-accent);
}
.contact_form-section .get_in_touch_form_content textarea:focus{
    box-shadow: none;
    border: 1px solid var(--e-global-color-accent);
}
.contact_form-section .get_in_touch_form_content .form-control::placeholder { 
    color: var(--e-global-color-text);
}
.contact_form-section .get_in_touch_form_content .form_button_wrapper button {
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    padding: 20px 40px;
    color: var(--e-global-color-white);
    border: none;
    border-radius: 0;
    box-shadow: none;
    outline: none;
    cursor: pointer;
}
.post_archive .pagination span.page-numbers.current{
    display: inline-table;
    color: var(--e-global-color-white) !important;
}
.fortified-teams-details h5{
    text-align: center !important;
}