/* Media Queries  */
    @media screen and (max-width: 1440px){
    h1 {font-size: 60px; line-height: 70px;}
    }
    @media screen and (max-width: 1199px){
    h1 {font-size: 50px; line-height: 58px;}
    h2 {font-size: 38px; line-height: 42px;}
    h3 {font-size: 24px; line-height: 36px;}
    h4 {font-size: 18px; line-height: 32px;}
    h5 {font-size: 16px; line-height: 24px;}
    h6 {letter-spacing: 1.2px !important;}
    p {font-size: 16px; line-height: 28px;}
    .default-btn {padding: 18px 35px;}
    .services_section .services_content {margin-bottom: 0;}
    .services_section .services_box {padding: 35px 30px 30px;}
    .services_section .services_box figure {margin-bottom: 18px;}
    .services_section .services_box h4 {margin-bottom: 6px;}
    .services_section .services_box p {margin-bottom: 20px;}
    .services_section .services_box .services_arrow {width: 42px; height: 42px; line-height: 35px;}
    .services_section .services_left_shape img {width: 200px;}
    .services_section .services_right_shape img {width: 200px;}
    .case_studies_section .case_studies_box .case_studies_box_content {bottom: 25px; left: 30px;}
    .case_studies_section .case_studies_box .case_studies_box_content span {margin-bottom: 15px;}
    .case_studies_section .case_studies_box .case_studies_box_content h5 {margin-bottom: 10px; padding-right: 25px;}
    .case_studies_section .case_studies_box .case_studies_box_content figure {width: 42px; height: 42px; line-height: 36px;}
    .case_studies_section .owl-carousel .owl-dots .owl-dot span {margin: 0 4px;}
    .case_studies_section .owl-carousel .owl-dots .owl-dot.active span {width: 16px; height: 16px; top: 2px;}
    .testimonials-section .heading {margin-bottom: -15px;}
    .testimonials-section .testimonial-box {padding: 35px;}
    .testimonials-section .testimonial-box ul {margin-bottom: 10px;}
    .testimonials-section .testimonial-box ul li i {font-size: 12px;}
    .testimonials-section .testimonial-box .review {line-height: 26px; margin-bottom: 25px;}
    .testimonials-section .testimonial-box .user-img {margin-right: 15px !important; margin-top: 0 !important;}
    .testimonials-section .testimonial-box .quote-img {right: 0;}
    .testimonials-section .owl-carousel .owl-dots {margin-top: -15px !important;}
    .testimonials-section .owl-carousel .owl-dots .owl-dot.active span {width: 16px; height: 16px; top: 2px;}
    .testimonials-section .owl-carousel .owl-dots .owl-dot span {margin: 0 4px;}
    .testimonials-section .testimonial_left_shape {display: none;}
    .news_articles_section .news_articles_box .news_articles_box_content {padding: 20px 30px;}
    .news_articles_section .news_articles_box .news_articles_box_content h5 {line-height: 22px;}
    .news_articles_section .news_articles_box .news_articles_box_content p {margin-bottom: 12px;}
    .footer_section .newsletter_content {padding-top: 90px;}
    .footer_section .newsletter_content h4 {margin-bottom: 15px;}
    .footer_section .newsletter_content input {height: 48px; padding: 8px 15px; margin-bottom: 20px;}
    .footer_section .newsletter_content .btn {right: 5px; top: 4px; font-size: 14px; height: 40px; width: 40px; line-height: 40px;}
    .footer_section .newsletter_content ul li i {font-size: 14px; margin-right: 6px; height: 42px; width: 42px; line-height: 42px;}
    /* Home2 */
    .cyber_security_services_section .cyber_security_services_box {padding: 35px 15px;}
    .cyber_security_services_section .cyber_security_services_box .cyber_security_services_image {height: 100px; width: 100px; line-height: 100px; margin: 0 auto 20px !important;}   
    .cyber_security_services_section .cyber_security_services_box h5 {margin-bottom: 8px;}
    .cyber_security_services_section .cyber_security_services_box p {margin-bottom: 20px;}
    .cyber_security_services_section .cyber_security_services_box .services_arrow {width: 42px; height: 42px; line-height: 38px;}
    .security_testimonial_section .heading {margin-bottom: 18px; padding-top: 0;}
    .security_testimonial_section .testimonial-box p {margin-bottom: 16px;}
    .security_testimonial_section .testimonial-box .designation-outer {top: 8px; left: 72px;}
    .blog_posts_section .blog_posts_box figure {margin-bottom: 15px !important;}
    .blog_posts_section .blog_posts_box .span_wrapper {margin-bottom: 5px;}
    .blog_posts_section .blog_posts_box h5 {line-height: 22px; padding-right: 5px;}
    .blog_posts_section .blog_posts_box p {padding-right: 12px;}
    .get_in_touch_section .get_in_touch_form_content input {padding: 12px 20px; height: 55px; margin-bottom: 25px;}
    .get_in_touch_section .get_in_touch_form_content textarea {padding: 12px 20px; height: 120px; margin-bottom: 40px;}
    .get_in_touch_section .get_in_touch_form_content .form_button_wrapper button {padding: 18px 35px !important;}
    /* Home3 */
    .secure_service-section .service_boxcontent {margin-bottom: 35px;}
    .secure_service-section .service_boxcontent .upper_portion .image_content .service-icon {height: 90px; width: 90px; line-height: 90px; bottom: -40px;}
    .secure_service-section .service_boxcontent .upper_portion .image_content .service-icon img{width: 45px;}
    .secure_service-section .service_boxcontent .lower_portion_wrapper {padding: 60px 28px 28px;}
    .secure_service-section .service_boxcontent .lower_portion_wrapper h4 {margin-bottom: 2px;}
    .secure_service-section .service_boxcontent .lower_portion_wrapper p {line-height: 24px; margin-bottom: 8px;}
    .secure_service-section .owl-carousel .owl-dots .owl-dot span {margin: 0 4px;}
    .secure_service-section .owl-carousel .owl-dots .owl-dot.active span {width: 16px; height: 16px;}
    .secure_testimonial_section .testimonial-box p {margin-bottom: 16px;}
    .secure_testimonial_section .owl-carousel .owl-dots {margin-top: 28px !important;}
    /* About page */
    .about_team-section {padding: 92px 0 100px;}
    .about_team-section .about_team_content h2 {margin-bottom: 40px;}
    .about_team-section .team-box li {margin: 0 2px;}
    .about_team-section .team-box .content {padding: 20px 0 25px;}
    .about_team-section .team-box i {height: 34px; width: 34px; line-height: 34px;}
    /* Service page */
    .servicepage_service-section .service_boxcontent {margin-bottom: 30px;}
    .servicepage_service-section .service_boxcontent .upper_portion .image_content .service-icon {height: 90px; width: 90px; line-height: 90px; bottom: -40px;}
    .servicepage_service-section .service_boxcontent .upper_portion .image_content .service-icon img{width: 45px;}
    .servicepage_service-section .service_boxcontent .lower_portion_wrapper {padding: 60px 20px 28px;}
    .servicepage_service-section .service_boxcontent .lower_portion_wrapper h4 {margin-bottom: 2px;}
    .servicepage_service-section .service_boxcontent .lower_portion_wrapper p {line-height: 24px; margin-bottom: 8px;}
    /* Project page */
    .project_portfolio-section .case_studies_box .case_studies_box_content {bottom: 25px; left: 30px;}
    .project_portfolio-section .case_studies_box .case_studies_box_content span {margin-bottom: 15px;}
    .project_portfolio-section .case_studies_box .case_studies_box_content h5 {margin-bottom: 10px; padding-right: 25px;}
    .project_portfolio-section .case_studies_box .case_studies_box_content figure {width: 42px; height: 42px; line-height: 36px;}
    .project_portfolio-section .btn_wrapper {padding-top: 12px;}
    /* Contact page */
    .contact_form-section .get_in_touch_content h2 {margin-bottom: 40px;}
    .contact_form-section .get_in_touch_form_content input {padding: 12px 20px; height: 55px; margin-bottom: 25px;}
    .contact_form-section .get_in_touch_form_content textarea {padding: 12px 20px; height: 120px; margin-bottom: 40px;}
    .contact_form-section .get_in_touch_form_content .form_button_wrapper button {padding: 18px 35px;}
    }
    @media screen and (max-width: 991px) {
    h1 {font-size: 40px; line-height: 50px;}
    h2 {font-size: 32px; line-height: 38px;}
    h3 {font-size: 20px; line-height: 32px;}
    h4 {font-size: 16px; line-height: 30px;}
    h5 {font-size: 16px; line-height: 22px;} 
    h6 {letter-spacing: 1.0px !important;}
    .text-size-14 {font-size: 14px; line-height: 20px;}
    .default-btn {padding: 15px 25px;}
    a {font-size: 14px; line-height: 14px;}
    .services_section .services_box{
        margin: 0px;
    }
    .services_section .services_box {padding: 30px 20px; border: 1px solid rgba(236, 236, 248, 0.15);}
    .services_section .second_row .services_box {border-bottom: 1px solid rgba(236, 236, 248, 0.15);}  
    .services_section .services_box figure {margin-bottom: 15px;}
    .services_section .services_box h4 {margin-bottom: 5px;} 
    .services_section .services_box p {margin-bottom: 15px;}
    .services_section .services_box .services_arrow {width: 38px; height: 38px; line-height: 34px;}
    .services_section .services_box .services_arrow img {width: 16px;}
    .case_studies_section .case_studies_box .case_studies_box_content {bottom: 20px; left: 25px;}
    .case_studies_section .case_studies_box .case_studies_box_content span {margin-bottom: 10px; font-size: 10px; line-height: 12px; padding: 4px 14px;}
    .case_studies_section .case_studies_box .case_studies_box_content h5 {margin-bottom: 8px; padding-right: 60px;}
    .case_studies_section .case_studies_box .case_studies_box_content figure {width: 38px; height: 38px; line-height: 32px;}
    .case_studies_section .owl-carousel .owl-dots {margin-top: 20px !important;}
    .case_studies_section .owl-carousel .owl-nav{display: none;}
    .testimonials-section .heading {margin-bottom: -18px;}
    .testimonials-section .heading h6 {margin-bottom: 5px;}
    .testimonials-section .testimonial-box {padding: 22px;}
    .testimonials-section .testimonial-box ul {margin-bottom: 8px;}
    .testimonials-section .owl-carousel .owl-stage-outer {padding: 30px 0;}
    .testimonials-section .testimonial-box ul li i {font-size: 10px;}
    .testimonials-section .testimonial-box .review {font-size: 14px; line-height: 24px; margin-bottom: 15px;}
    .testimonials-section .testimonial-box .user-img {margin-right: 12px !important;}
    .testimonials-section .testimonial-box .designation-outer {padding-top: 8px;}
    .testimonials-section .testimonial-box .quote-img img {width: 48px;}      
    .testimonials-section .testimonial-box .designation-outer .member_designation {font-size: 12px; line-height: 18px;}
    .testimonials-section .owl-carousel .owl-dots {margin-top: -18px !important;}
    .news_articles_section .news_articles_box .news_articles_box_content {padding: 10px;}
    .news_articles_section .news_articles_box .news_articles_box_content .span_wrapper {margin-bottom: 2px;}
    .news_articles_section .news_articles_box .news_articles_box_content .span_wrapper span {font-size: 10px; line-height: 16px;}
    .news_articles_section .news_articles_box .news_articles_box_content h5 {font-size: 14px; line-height: 20px; margin-bottom: 5px;}
    .news_articles_section .news_articles_box .news_articles_box_content p {margin-bottom: 5px;}
    .news_articles_section .news_articles_box .news_articles_box_content i {font-size: 12px; line-height: 12px;}
    /* Home2 */
    .cyber_security_services_section .cyber_security_services_box {padding: 30px 30px;}
    .cyber_security_services_section .cyber_security_services_box .cyber_security_services_image {height: 90px; width: 90px; line-height: 90px; margin: 0 auto 15px !important;}
    .cyber_security_services_section .cyber_security_services_box .cyber_security_services_image img {width: 45px;}
    .cyber_security_services_section .cyber_security_services_box h5 {margin-bottom: 5px;}
    .cyber_security_services_section .cyber_security_services_box p {margin-bottom: 15px;}
    .cyber_security_services_section .cyber_security_services_box .services_arrow {width: 40px; height: 40px; line-height: 34px;}
    .cyber_security_services_section .cyber_security_services_box .services_arrow img {width: 15px;}
    .security_testimonial_section .testimonial_content {padding-left: 0;}
    .security_testimonial_section .heading {margin-bottom: 15px;}
    .security_testimonial_section .heading h6 {margin-bottom: 5px;}
    .security_testimonial_section .testimonial-box p {font-size: 14px; line-height: 24px; margin-bottom: 10px;}
    .security_testimonial_section .testimonial-box .info ul {margin-bottom: 4px;}
    .security_testimonial_section .testimonial-box .info ul li i {font-size: 10px;}
    .security_testimonial_section .owl-carousel .owl-dots {margin-top: 10px !important;}
    .blog_posts_section .blog_posts_box figure {margin-bottom: 12px !important;}
    .blog_posts_section .blog_posts_box .span_wrapper {margin-bottom: 2px;}  
    .blog_posts_section .blog_posts_box .span_wrapper span {font-size: 10px; line-height: 16px;}
    .blog_posts_section .blog_posts_box h5 {line-height: 20px; padding-right: 0;}
    .blog_posts_section .blog_posts_box p {padding-right: 0;}
    .get_in_touch_section .get_in_touch_form_content input {padding: 10px 15px; height: 50px; margin-bottom: 20px;}
    .get_in_touch_section .get_in_touch_form_content textarea {padding: 10px 15px; height: 110px; margin-bottom: 30px;}
    .get_in_touch_section .get_in_touch_form_content .form_button_wrapper button {padding: 15px 25px !important; font-size: 14px; line-height: 14px;}
    /* Home3 */
    .secure_service-section .service_boxcontent {margin-bottom: 30px;}
    .secure_service-section .service_boxcontent .upper_portion .image_content .service-icon {height: 80px; width: 80px; line-height: 80px; bottom: -38px;}
    .secure_service-section .service_boxcontent .upper_portion .image_content .service-icon img {width: 40px;}
    .secure_service-section .service_boxcontent .lower_portion_wrapper {padding: 48px 30px 25px;}
    .secure_service-section .service_boxcontent .lower_portion_wrapper h4 {margin-bottom: 0;}
    .secure_service-section .service_boxcontent .lower_portion_wrapper p {margin-bottom: 6px;}
    .secure_testimonial_section .testimonial-box p {font-size: 14px; line-height: 24px; margin-bottom: 10px;}
    .secure_testimonial_section .testimonial-box .info ul {margin-bottom: 4px;}
    .secure_testimonial_section .testimonial-box .info ul li i {font-size: 10px;}
    .secure_testimonial_section .owl-carousel .owl-dots {margin-top: 0px !important;}
    /* About page */
    .about_team-section .team-box {margin-bottom: 30px;}
    .about_team-section .team-box h4 {font-size: 18px; line-height: 28px;}
    .about_team-section .team-box span {margin-bottom: 10px;}
    /* Service page */
    .servicepage_service-section .service_boxcontent .upper_portion .image_content .service-icon {height: 80px; width: 80px; line-height: 80px; bottom: -38px;}
    .servicepage_service-section .service_boxcontent .upper_portion .image_content .service-icon img {width: 40px;}
    .servicepage_service-section .service_boxcontent .lower_portion_wrapper {padding: 48px 30px 25px;}
    .servicepage_service-section .service_boxcontent .lower_portion_wrapper h4 {margin-bottom: 0;}
    .servicepage_service-section .service_boxcontent .lower_portion_wrapper p {margin-bottom: 6px;}
    /* Project page */
    .project_portfolio-section .case_studies_box .case_studies_box_content {bottom: 20px; left: 25px;}
    .project_portfolio-section .case_studies_box .case_studies_box_content span {margin-bottom: 10px; font-size: 10px; line-height: 12px; padding: 4px 14px;}
    .project_portfolio-section .case_studies_box .case_studies_box_content h5 {margin-bottom: 8px; padding-right: 60px;}
    .project_portfolio-section .case_studies_box .case_studies_box_content figure {width: 38px; height: 38px; line-height: 32px;}
    .project_portfolio-section .btn_wrapper {padding-top: 0;}
    /* Contact page */
    .contact_form-section .get_in_touch_form_content input {padding: 10px 15px; height: 50px; margin-bottom: 20px;}
    .contact_form-section .get_in_touch_form_content textarea {padding: 10px 15px; height: 110px; margin-bottom: 30px;}
    .contact_form-section .get_in_touch_form_content .form_button_wrapper button {padding: 15px 25px; font-size: 14px; line-height: 14px;}
    }
    @media screen and (max-width: 767px){
    h1 {font-size: 34px; line-height: 40px;}
    h2 {font-size: 28px; line-height: 34px;}
    h3 {font-size: 18px; line-height: 30px;}
    h6 {letter-spacing: 0 !important;}
    p {font-size: 14px; line-height: 22px;}
    .text-size-16 {font-size: 14px; line-height: 24px;}
    .default-btn {padding: 14px 20px;}
    .services_section .services_box{
        margin: 0px;
    }
    .services_section .services_box figure {margin-bottom: 10px;}
    .services_section .services_box figure img {width: 45px;}
    .services_section .services_box h4 {margin-bottom: 7px;}
    .services_section .services_box p {margin-bottom: 10px;}
    .services_section .services_box .services_arrow {width: 35px; height: 35px; line-height: 32px;}
    .services_section .services_box .services_arrow img {width: 14px;}
    .services_section .services_left_shape img {width: 125px;}
    .services_section .services_right_shape img {width: 125px;}
    .case_studies_section .case_studies_box .case_studies_box_content {bottom: 25px; left: 20px;}
    .case_studies_section .case_studies_box .case_studies_box_content span {margin-bottom: 8px; padding: 3px 12px;}
    .case_studies_section .case_studies_box .case_studies_box_content h5 {margin-bottom: 8px; padding-right: 40px;}
    .case_studies_section .case_studies_box .case_studies_box_content figure {width: 35px; height: 35px; line-height: 30px;}
    .case_studies_section .case_studies_box .case_studies_box_content figure img {width: 14px;}
    .case_studies_section .owl-carousel .owl-dots {margin-top: 15px !important;}
    .case_studies_section .owl-carousel .owl-dots .owl-dot.active span {width: 14px; height: 14px;}
    .case_studies_section .owl-carousel .owl-dots .owl-dot span {margin: 0 3px; width: 10px; height: 10px;}
    .testimonials-section .heading {margin-bottom: -25px;}
    .testimonials-section .heading h6 {margin-bottom: 2px;}
    .testimonials-section .owl-carousel .item {padding: 0 10px;}
    .testimonials-section .testimonial-box {padding: 25px;}
    .testimonials-section .testimonial-box ul {margin-bottom: 2px;}
    .testimonials-section .testimonial-box .review {line-height: 22px; margin-bottom: 12px;}
    .testimonials-section .testimonial-box .user-img {margin-right: 10px !important;}
    .testimonials-section .testimonial-box .designation-outer {padding-top: 6px;}
    .testimonials-section .owl-carousel .owl-dots {margin-top: -16px !important;}
    .testimonials-section .owl-carousel .owl-stage-outer {padding: 0px  0px 30px 0px;}
    .testimonials-section .owl-carousel .owl-dots .owl-dot.active span {width: 14px; height: 14px;}
    .testimonials-section .owl-carousel .owl-dots .owl-dot span {margin: 0 3px; width: 10px; height: 10px;}
    .news_articles_section .news_articles_box {margin-bottom: 30px;}
    .news_articles_section .news_articles_box .news_articles_box_content {padding: 10px 20px;}
    /* Home2 */
    .cyber_security_services_section .cyber_security_services_box {padding: 25px 20px;}
    .cyber_security_services_section .cyber_security_services_box .cyber_security_services_image {height: 80px; width: 80px; line-height: 80px; margin: 0 auto 12px !important;}
    .cyber_security_services_section .cyber_security_services_box .cyber_security_services_image img {width: 40px;}
    .cyber_security_services_section .cyber_security_services_box p {margin-bottom: 10px;}
    .cyber_security_services_section .cyber_security_services_box .services_arrow {width: 35px; height: 35px; line-height: 30px;}
    .cyber_security_services_section .cyber_security_services_box .services_arrow img {width: 12px;}
    .security_testimonial_section .testimonial-box p {margin-bottom: 10px;}
    .security_testimonial_section .testimonial-box .info h6 {font-size: 14px; line-height: 24px;}
    .security_testimonial_section .testimonial-box .info p {font-size: 12px; line-height: 22px;}
    .security_testimonial_section .owl-carousel .owl-dots {margin-top: 20px !important;}
    .security_testimonial_section .owl-carousel .owl-dots .owl-dot span {width: 15px; height: 3px;}
    .security_testimonial_section .owl-carousel .owl-dots .owl-dot.active span {width: 20px; height: 3px;}
    .blog_posts_section .blog_posts_box {margin-bottom: 35px;}
    .blog_posts_section .blog_posts_box figure {margin-bottom: 10px !important;}
    .blog_posts_section .blog_posts_box h5 {margin-bottom: 5px;}
    .get_in_touch_section .get_in_touch_form_content input {height: 48px;}
    .get_in_touch_section .get_in_touch_form_content textarea {height: 100px; margin-bottom: 25px;}
    .get_in_touch_section .get_in_touch_form_content .form_button_wrapper button {padding: 12px 20px !important;}
    /* Home3 */
    .secure_service-section .service_boxcontent {margin-bottom: 25px;}
    .secure_service-section .service_boxcontent .upper_portion .image_content .service-icon {height: 70px; width: 70px; line-height: 70px; bottom: -34px;}
    .secure_service-section .service_boxcontent .upper_portion .image_content .service-icon img {width: 38px;}
    .secure_service-section .service_boxcontent .lower_portion_wrapper {padding: 45px 15px 22px;}
    .secure_service-section .service_boxcontent .lower_portion_wrapper p {line-height: 20px; margin-bottom: 4px;}
    .secure_service-section .service_boxcontent .lower_portion_wrapper .read_more {font-size: 12px; line-height: 20px;}
    .secure_service-section .service_boxcontent .lower_portion_wrapper .read_more i {font-size: 10px; line-height: 10px;}
    .secure_service-section .owl-carousel .owl-dots .owl-dot span {margin: 0 3px; width: 10px; height: 10px;}
    .secure_service-section .owl-carousel .owl-dots .owl-dot.active span {width: 14px; height: 14px;}
    .secure_testimonial_section .testimonial-box p {margin-bottom: 6px;}
    .secure_testimonial_section .testimonial-box .info h6 {font-size: 14px; line-height: 24px;}
    .secure_testimonial_section .testimonial-box .info p {font-size: 12px; line-height: 22px;}
    .secure_testimonial_section .owl-carousel .owl-dots {margin-top: 0px !important;}
    .secure_testimonial_section .owl-carousel .owl-dots .owl-dot span {width: 15px; height: 3px;}
    .secure_testimonial_section .owl-carousel .owl-dots .owl-dot.active span {width: 20px; height: 3px;}
    /* About page */
    .about_team-section .team-box .content {padding: 15px 0 22px;}
    .about_team-section .team-box i {font-size: 12px; height: 32px; width: 32px; line-height: 32px;}
    /* Service page */
    .servicepage_service-section .service_boxcontent .upper_portion .image_content .service-icon {height: 70px; width: 70px; line-height: 65px; bottom: -34px;}
    .servicepage_service-section .service_boxcontent .upper_portion .image_content .service-icon img {width: 35px;}
    .servicepage_service-section .service_boxcontent .lower_portion_wrapper {padding: 45px 15px 22px;}
    .servicepage_service-section .service_boxcontent .lower_portion_wrapper p {line-height: 20px; margin-bottom: 4px;}
    .servicepage_service-section .service_boxcontent .lower_portion_wrapper .read_more {font-size: 12px; line-height: 20px;}
    .servicepage_service-section .service_boxcontent .lower_portion_wrapper .read_more i {font-size: 10px; line-height: 10px;}
    /* Project page */
    .project_portfolio-section .case_studies_box .case_studies_box_content {bottom: 25px; left: 20px;}
    .project_portfolio-section .case_studies_box .case_studies_box_content span {margin-bottom: 8px; padding: 3px 12px;}
    .project_portfolio-section .case_studies_box .case_studies_box_content h5 {margin-bottom: 8px; padding-right: 40px;}
    .project_portfolio-section .case_studies_box .case_studies_box_content figure {width: 35px; height: 35px; line-height: 30px;}
    .project_portfolio-section .case_studies_box .case_studies_box_content figure img {width: 14px;}
    /* Contact page */
    .contact_form-section .get_in_touch_form_content input {height: 48px;}
    .contact_form-section .get_in_touch_form_content textarea {height: 100px; margin-bottom: 25px;}
    .contact_form-section .get_in_touch_form_content .form_button_wrapper button {padding: 12px 20px;}
    }
    @media screen and (max-width: 575px){
    h1 {font-size: 30px; line-height: 36px;}
    h2 {font-size: 22px; line-height: 28px;}
    h3 {font-size: 16px; line-height: 26px;}
    h6 {font-size: 14px; line-height: 22px;}
    .services_section .services_box{
        margin: 0px !important;
    }
    .text-size-16 {font-size: 14px; line-height: 22px;}
    .default-btn {padding: 12px 20px;}
    .services_section .services_box {padding: 20px 20px;}
    .services_section .services_box figure {margin-bottom: 8px;}
    .services_section .services_box figure img {width: 40px;}
    .services_section .services_left_shape img {width: 90px;}
    .services_section .services_right_shape img {width: 90px;}
    .case_studies_section .owl-carousel .item {padding: 0 15px;}
    .case_studies_section .case_studies_box{width: 330px; margin: 0 auto 15px;}
    .case_studies_section .case_studies_box figure {background: transparent;}
    .case_studies_section .case_studies_box img {width: auto;}
    .case_studies_section .case_studies_box .case_studies_box_content h5 {padding-right: 15px;}
    .case_studies_section .case_studies_box .case_studies_box_content figure {width: 32px; height: 32px; line-height: 28px;}
    .case_studies_section .case_studies_box .case_studies_box_content figure img {width: 12px;}
    .case_studies_section .case_studies_box .case_studies_box_content {bottom: 20px; left: 15px;}
    .case_studies_section .owl-carousel .owl-dots {margin-top: 15px !important;}
    .case_studies_section .owl-carousel .owl-dots .owl-dot.active span {width: 12px; height: 12px;}
    .case_studies_section .owl-carousel .owl-dots .owl-dot span {width: 8px; height: 8px;}
    .testimonials-section .heading {margin-bottom: -30px;}
    .testimonials-section .testimonial-box .review {line-height: 20px; margin-bottom: 10px;}
    .testimonials-section .testimonial-box .user-img {margin-right: 6px !important;}
    .testimonials-section .testimonial-box .user-img img {width: 50px;}
    .testimonials-section .testimonial-box .designation-outer {padding-top: 4px;}
    .testimonials-section .testimonial-box .quote-img img {width: 40px;}
    .testimonials-section .owl-carousel .owl-dots .owl-dot.active span {width: 12px; height: 12px;}
    .testimonials-section .owl-carousel .owl-dots .owl-dot span {width: 8px; height: 8px;}
    .news_articles_section .news_articles_box .news_articles_box_content {padding: 15px 20px; text-align: center;}
    .news_articles_section .news_articles_box {width: 330px; margin: 0 auto 25px;}
    .news_articles_section .news_articles_box figure {background-color: transparent; text-align: center;}
    .news_articles_section .news_articles_box figure img {width: auto;}
    /* Home2 */
    .cyber_security_services_section .cyber_security_services_box {padding: 25px 30px;}
    .cyber_security_services_section .cyber_security_services_box .cyber_security_services_image {height: 75px; width: 75px; line-height: 75px; margin: 0 auto 10px !important;}
    .cyber_security_services_section .cyber_security_services_box .cyber_security_services_image img {width: 35px;}
    .security_testimonial_section .owl-carousel .owl-dots {margin-top: 20px !important;}
    .blog_posts_section .blog_posts_box figure {background-color: transparent; text-align: center; margin-bottom: 10px !important;}
    .blog_posts_section .blog_posts_box figure img {width: auto;}
    .blog_posts_section .blog_posts_content h2 {margin-bottom: 30px;}
    .blog_posts_section .blog_posts_box {width: 100%; text-align: center;}
    .get_in_touch_section .get_in_touch_form_content input {height: 45px; margin-bottom: 15px;}
    .get_in_touch_section .get_in_touch_form_content textarea {height: 90px; margin-bottom: 20px;}
    .get_in_touch_section .get_in_touch_form_content .form_button_wrapper button {padding: 12px 20px !important;}
    /* Home3 */
    .secure_service-section .service_boxcontent {width: 330px; margin: 0 auto 25px;}
    .secure_service-section .service_boxcontent .upper_portion .service-image .article_img {background: transparent; text-align: center;}
    .secure_service-section .service_boxcontent .upper_portion .service-image .article_img img{width: auto;}
    .secure_service-section .owl-carousel .owl-dots .owl-dot.active span {width: 12px; height: 12px;}
    .secure_service-section .owl-carousel .owl-dots .owl-dot span {width: 8px; height: 8px;}
    .secure_testimonial_section .owl-carousel .owl-dots {margin-top: 0px !important;}
    /* About page */
    .about_team-section .team-box {width: 255px; margin: 0 auto 15px;}
    .about_team-section .team-box span {margin-bottom: 8px;}
    .about_team-section .team-box .image {background: transparent; text-align: center;}
    .about_team-section .team-box .image img{width: auto;}
    /* Service page */
    .servicepage_service-section .service_boxcontent {width: 330px; margin: 0 auto 15px;}
    .servicepage_service-section .service_boxcontent .upper_portion .service-image {background: transparent; text-align: center;}
    .servicepage_service-section .service_boxcontent .upper_portion .service-image .article_img {width: auto;}
    /* Project page */
    .project_portfolio-section .case_studies_box{width: 330px; margin: 0 auto 15px;}
    .project_portfolio-section .case_studies_box figure {background: transparent;}
    .project_portfolio-section .case_studies_box img {width: auto;}
    .project_portfolio-section .case_studies_box .case_studies_box_content h5 {padding-right: 15px;}
    .project_portfolio-section .case_studies_box .case_studies_box_content figure {width: 32px; height: 32px; line-height: 28px;}
    .project_portfolio-section .case_studies_box .case_studies_box_content figure img {width: 12px;}
    .project_portfolio-section .case_studies_box .case_studies_box_content {bottom: 20px; left: 15px;}
    .project_portfolio-section .btn_wrapper {padding-top: 10px;}
    /* Contact page */
    .contact_form-section .get_in_touch_form_content input {height: 45px; margin-bottom: 15px;}
    .contact_form-section .get_in_touch_form_content textarea {height: 90px; margin-bottom: 20px;}
    .contact_form-section .get_in_touch_form_content .form_button_wrapper button {padding: 12px 20px;}
    }