* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--light);
}

html,
body {
  width: 100%;
  height: 100%;
}

:root {
  --white: #ffffff;
  --black: #000000;
  --light-black: #212121;
  --mad-black: #2f343c;
  --grey: #848484;
  --bs-grey: #b7b7b7;
  --orange: #f37002;
  --pink: #ec048c;
  --purple: #8f1147;
  --blue: #0077ed;
  --green: #19ad6f;
  --green-bg: #e7f3ea;
  --light: "Poppins-light", sans-serif;
  --medium: "Poppins-medium", sans-serif;
  --bold: "Poppins-bold", sans-serif;
  --regular: "Poppins-regular", sans-serif;
  --radius: 1rem;
}

body {
  background-color: var(--white);
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

img {
  content-visibility: auto;
}

@font-face {
  font-family: "Poppins-light";
  src: url("../fonts/Poppins-Light.ttf");
}

@font-face {
  font-family: "Poppins-regular";
  src: url("../fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Poppins-medium";
  src: url("../fonts/Poppins-Medium.ttf");
}

@font-face {
  font-family: "Poppins-bold";
  src: url("../fonts/Poppins-Bold.ttf");
}

.discount-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15rem;

  height: auto;
  width: 100%;

  padding: 1rem 2rem;

  background: linear-gradient(93deg, var(--orange), var(--pink));
}

.discount-effect {
  position: absolute;
  top: 0;
  left: 0;

  height: 100%;
  width: 1%;

  padding: 0.5rem;
  background-color: #ffffff33;
  transform: rotate(10deg);

  animation: slightSlide 3s ease 0s infinite forwards;
}

@keyframes slightSlide {
  from {
    left: 2%;
  }
  to {
    left: 98%;
  }
}

.discount-text {
  color: var(--white);
  font: 500 1.5rem var(--light);
}

.count-down {
  padding: 0.5rem 1rem;
  background-color: var(--purple);
  border-radius: 0.5rem;
  font: 500 1.5rem var(--medium);
  color: var(--white);
}


.count-down > span {
  font-size: 1.2rem;
}

.navbar {
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
  padding: 1rem 2rem;
}

.sticky-nav{
  position: sticky;
  top: 0;
  left: 0;
  background-color: var(--white);
  z-index: 999;
  height: 8rem;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 114rem;
  margin: 0 auto;
}

.nested-nav {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  display: inline-block;
  width: 12rem;
}
.logo > img {
  height: auto;
  width: 100%;
  mix-blend-mode: multiply;
}

.social-medias {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social-medias > a > img {
  height: 2.5rem;
  width: 2.5rem;
  transition: all ease 0.5s;
}

.social-medias > a > img:hover {
  transform: translateY(-40%);
}
.social-medias > a > span {
  display: none;
}
.contact-btn {
  color: var(--white);
  background: linear-gradient(93deg, var(--orange), var(--pink));
  font: 500 1.5rem var(--regular);
  padding: 1rem 1.5rem;
  border-radius: var(--radius);
  border: none;
}

.contact-btn:active {
  transform: scale(0.96);
}

.dynamiclinks-container {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 2rem;
  max-width: 114rem;
  margin: 0 auto;
  background-color: var(--white);
}

.dynamiclinks-slider {
  position: relative;
  height: auto;
  width: 80%;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 3rem;

  border-right: 0.1rem solid rgba(0, 0, 0, 0.2);
  overflow-x: auto;
  scroll-behavior: smooth;
  transition: all ease 0.5s;
}

.dynamiclinks-slider::-webkit-scrollbar {
  display: none;
}

.dynamiclink {
  display: flex;
  flex-direction: column;
  align-items: center;

  min-width: fit-content;
  padding-bottom: 0.2rem;
}

.dynamiclink > span{
  display: flex;
  align-items: center;
  color: #515151;
  text-align: center;
  font: 500 12px var(--medium);
  line-height: 18px;
  text-transform: capitalize;
  border-bottom: 1px solid #fff;
  transition: all .1s ease-in;
  margin-top: 7px;
 white-space: nowrap;
}

.toggle-btn {
  position: relative;
  height: fit-content;
  display: flex;
  align-items: center;

  width: 20%;
  padding: 0.3rem;
  border-radius: var(--radius);
  border: 0.1rem solid rgba(0, 0, 0, 0.2);

}

.plans-btn,
.querries-btn {
  position: relative;
  z-index: 3;
  padding: 1.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  color: var(--light-black);
  font: 400 1.4rem var(--regular);
  border-radius: var(--radius);
  cursor: pointer;
}

.bg-orange {
  background-color: var(--orange);
  color: var(--white);
}

/* main */
.hero-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  gap: 3rem;
  height: auto;
  max-width: 114rem;
  margin: 0 auto;
  padding: 3rem 2rem;
}

.course-div {
  min-width: 30%;
  border-radius: var(--radius);
}

.img-holder {
  position: relative;
  height: 34rem;
  width: 100%;

  overflow: hidden;
  border-radius: var(--radius);
}

.img-holder > img {
  height: 100%;
  width: 100%;
}

.offers-text {
  position: absolute;
  top: 10%;
  z-index: 9;

  display: flex;
  align-items: center;
  gap: 0.5rem;

  width: fit-content;
  height: auto;

  padding: 0.2rem 0.8rem;
  font: 400 1.2rem var(--regular);
  color: var(--white);
  background: linear-gradient(93deg, var(--orange), var(--pink));
}

.course-details {
  padding: 1rem 0rem;
}

.course-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.grey-text {
  font: 500 1.3rem var(--regular);
  color: var(--grey);
}

.ratings {
  font: 500 1.4rem var(--medium);
  color: var(--green);
  margin-right: 0.3rem;
}

.ratings > svg {
  height: 1.2rem;
  width: 1.2rem;
  /* vertical-align: middle; */
}

.reviews {
  opacity: 0.7;
  color: var(--light-black);
  font: 500 1.4rem var(--light);
}

.course-name {
  color: var(--light-black);
  font: 500 1.8rem var(--regular);
}

.sale-text {
  display: inline-block;
  margin: 0.5rem 0rem;
  padding: 0.2rem 0.8rem;
  border-radius: var(--radius);
  color: var(--white);
  background: linear-gradient(93deg, var(--orange), var(--pink));
  font: 500 1.2rem var(--medium);
  text-transform: uppercase;
}

.price-details {
  display: flex;
  align-items: center;
  gap: 1rem;

  margin: 1rem 0rem;
}

.price {
  color: var(--light-black);
  font: 500 2rem var(--medium);
}

.before-price {
  color: var(--light-black);
  font: 500 1.7rem var(--light);
  text-decoration: line-through;
}

.saved-price {
  padding: 0.2rem 0.6rem;
  border-radius: var(--radius);
  color: var(--green);
  background-color: var(--green-bg);
  font: 500 1.2rem var(--medium);
}

.course-controller {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.whatsapp-querry-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  padding: 1.2rem 1.5rem;
  border: 0.1rem solid #f37002;
  border-radius: 0.6rem;
}

.book-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 85%;

  padding: 1.2rem 1.5rem;

  font: 500 1.6rem var(--medium);
  color: var(--white);
  background-color: var(--orange);
  text-align: center;
  border-radius: var(--radius);
  border: 0.1rem solid #f37002;
}

.menu-btn,
.close-btn {
  display: none;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  padding: 0.5rem;
  border-radius: 50%;
  cursor: pointer;
}

.menu-btn > img {
  height: 3.5rem;
  width: 3.5rem;
}



/* seo content */
.seo-content,
.footer-container, .testimonials-container,
.sub-footer, .slider {
  height: auto;
  max-width: 114rem;
  margin: 0 auto;
}

.seo-content,
.footer-container {
  position: relative;
  padding: 2rem 2rem;
}

.sub-footer {
  padding: 1rem 2rem;
}

.seo-h2,
.seo-h3 , .testimonials-container > h2{
  color: #515151;
  font: 600 2.5rem var(--bold);
  line-height: 3.1rem;
  margin-bottom: 1rem;
}

.seo-h3 {
  font-size: 2rem;
}

.seo-para {
  color: var(--light-black);
  font: 400 1.4rem var(--regular);
  margin: 1rem 0rem;
  line-height: 2rem;
}

.seo-ul {
  list-style-position: inside;
  padding: 1rem 2rem;
}

.seo-ul > li {
  font: 400 1.4rem var(--regular);
  line-height: 2rem;
  margin: 1rem 0rem;
}

.seo-para > a {
  color: var(--orange);
  text-decoration: underline;
}

/* Image slider */

.slider{
  margin-bottom: 2rem;
  padding: 2rem;
}

.swiper {
  width: 100%;
  height: fit-content;
  gap: 1rem;
}

.swiper .swiper-button-prev,
.swiper .swiper-button-next {
  color: var(--light-black);
  transform: scale(0.7);
}

.swiper .swiper-button-prev:active,
.swiper .swiper-button-next:active {
  transform: scale(0.6);
}
.swiper-slide {
  height: 40vh;
  background-color: #eaeafd;
  border-radius: 2rem;
}

.swiper-slide > img{
  height: 40vh;
  width: 100%;
  object-fit: cover;
  border-radius: 2rem;
} 

span.swiper-pagination-bullet{
  background-color: #fff !important;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active{
  background-color: #f37002 !important;
}

/* Testimonials */

.testimonials-container{
  position: relative;
  margin-bottom: 50rem;
}

.testimonials-container > h2{
  text-align: center;
}


.testimonials-slider{
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 1rem;
  width: 100%;
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
  transition: all ease .5s;
  padding: 4rem 2rem 1rem;
}

.testimoni{
  position: relative;
  height: 18rem;
  min-width: 33.3%;
  padding: 3rem;
  border-radius: 2rem;
  box-shadow: 0 2px 8px rgba(28, 28, 28, .08);
  border: 1px solid #e8e8e8;
}

.testimoni > h3 {
  font: 600 2rem var(--bold);
  color: #515151;
  line-height: 2.6rem;
  margin-bottom: 1rem;
}

.testimoni > article{
  font: 500 1.4rem var(--regular);
  color: #515151;
  line-height: 2rem;
}

.chevron-left , .chevron-right{
  position: absolute;
  top: 60%;
  z-index: 9;
  cursor: pointer;
  height: 3rem;
  width: 3rem;
}

.chevron-left {
  left: 0;
}

.chevron-right{
  right: 0;
}


.testimoni-imghoilder{
  position: absolute;
  top: -20%;
  right: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 8rem;
  width: 8rem;
  background-color: #f37002;
  border-radius: 50%;

}

/* Footer */
footer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  height: 80vh;
  width: 100%;
  background-color: #2f343c;
}

.gallery-container {
  position: relative;
  top: -20%;
  left: 50%;
  transform: translate(-50%, -10%);

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;

  height: auto;
  width: 90%;
  background-color: var(--white);
  margin-top: -100px;
  border: 1px solid #e0e0e0;
  border-radius: 2rem;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.14);
  padding: 4rem;
  box-sizing: border-box;
}

.footerlink-fields {
  border-right: 0.1rem solid #e0e0e0;
}

.footerlink-fields:last-child {
  border-right: none;
}

.footerlink-fields > p {
  display: flex;
  align-items: center;
  font-size: 12px;
  color: #424242;
  font-weight: 600;
  font-family: var(--medium);
  text-transform: uppercase;
  line-height: 18px;
  margin-bottom: 10px;
  letter-spacing: 1.6px;
}

.footer-link {
  display: flex;
  align-items: center;
  font-size: 10px;
  color: #858585;
  font-weight: 500;
  font-family: var(--medium);
  line-height: 16px;
  margin-bottom: 8px;
  letter-spacing: 1.3px;
  cursor: pointer;
  transition: all 0.1s linear;
  text-transform: uppercase;
}

.footer-link:hover {
  font-size: 11px;
  color: var(--primary-color, #f37002);
}

.gallery-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
}
.gallery-grid > img {
  height: auto;
  width: 100%;
}

.footerlink-fields .footer-logo {
  padding: 3rem 0rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-logo > .logo {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-logo > .logo a > h2 {
  color: var(--white);
  font: 600 2rem "Raleway", sans-serif;
}

.footer-logo > .logo::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 40% !important;
  height: 2px;
  width: 10%;
  background-color: #808080;
}

.footer-logo > .logo::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 40% !important;
  height: 2px;
  width: 10%;
  background-color: #808080;
}

.footer-socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;

  padding: 2rem 0rem;
}

.footer-socials > a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  border-radius: 50%;
}
.footer-socials > a svg {
  fill: #b7b7b7;
}

.rights-text {
  padding: 0rem 0rem 2rem;
}

.rights-text > h2 {
  display: flex;
  justify-content: center;
  font: 700 1.5rem var(--bold);
  line-height: 21px;
  color: var(--bs-grey);
  text-align: center;
  margin-bottom: 10px;
}

.rights-text > p {
  display: flex;
  align-items: center;
  font: 500 1.2rem var(--medium);
  color: var(--bs-grey);
  line-height: 22px;
  text-align: center;
}

.sub-footer > p {
  text-align: center;
  font: 400 1.5rem var(--light);
  color: var(--white);
}

.sub-footer > p > a {
  color: var(--green);
  text-decoration: underline;
}

/* Querry  */
.contact-wrapper {
  display: none;
  position: relative;
  inset: 0;
  overflow: hidden;
}
.absolute {
  position: absolute;
  top: 0rem;
  left: 0rem;

  height: 100%;
  width: 100%;
  inset: 0;
  justify-content: center;
  display: inline-flex;
  flex-direction: row;
}

.justify-center {
  justify-content: center;
}

.bg-primary {
  background-color: var(--orange);
}

.bg-pink {
  background-color: var(--pink);
}
.opacity-50 {
  opacity: 0.5;
}
.bg-blur {
  filter: blur(9rem);
}

.shape1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 40rem;
  height: 40rem;
  border-radius: 9999px;
}
.shape2 {
  position: absolute;
  bottom: 0;
  right: 0;

  width: 40rem;
  height: 40rem;
  border-radius: 9999px;
}

.contact {
  position: relative;
  height: auto;
  width: 100%;

  padding: 4rem 0rem 3rem;
  text-align: center;
  background-color: transparent;
  z-index: 2;
}

.contact > p {
  color: var(--black);
  display: inline-block;
  font: 600 2rem var(--light);

  margin-bottom: 3rem;
  padding: 1rem 1.5rem;

  box-shadow: 0 0.2rem 0.8rem rgba(28, 28, 28, 0.08);
  border: 0.1rem solid #e8e8e8;
  background-color: var(--white);
  border-radius: 10rem;
}

.contact > h2 {
  font: 900 3rem var(--light);
  margin-bottom: 2rem;
}

.contact > span {
  color: var(--dark-grey);
  font: 500 1.8rem var(--light);
}
.contact > span > b {
  background: -webkit-linear-gradient(var(--orange), var(--pink));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;

  margin: 0 auto;
  padding: 3rem 0rem;
}

.form > label {
  color: var(--black);

  font: 600 1.8rem var(--light);
  opacity: 0.8;
  margin-bottom: 1.5rem;
}

.form > input {
  width: 100%;
  margin-bottom: 2rem;

  padding: 1.5rem;
  border: 0.2rem solid rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  outline: none;
  font: 500 1.8rem var(--light);
}

.form > input[type="number"]::-webkit-inner-spin-button,
.form > input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
  -moz-appearance: textfield;
}

.form > button {
  width: 50%;

  padding: 1.5rem;
  margin: 3rem auto;
  font: 500 2rem var(--regular);

  cursor: pointer;
  color: var(--white);
  background: linear-gradient(93deg, var(--orange), var(--pink));

  border: none;
  border-radius: 1rem;
}

/* Contact modal */
.contact-modal-wrapper {
  position: fixed;
  display: none;

  height: 100vh;
  width: 100vw;

  top: 0;
  left: 0;
  z-index: 99999;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.contact-dialogue {
  position: absolute;
  top: 150%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;

  width: 30vw;
  border-radius: 1rem;
  padding: 2rem;
  animation: modalFadeIn 0.5s ease 0s 1 forwards;
}

@keyframes modalFadeIn {
  from {
    top: 150%;
  }
  to {
    top: 50%;
  }
}

.contact-dialogue-heading > h2 {
  color: var(--black);
  font: 500 2.5rem var(--medium);
}

.contact-dialogue-heading > p {
  color: var(--grey);
  font: 400 1.4rem var(--regular);
}

.modal-form {
  padding: 1rem 0rem;
  display: flex;
  flex-direction: column;
  gap: 1.7rem;
}

.input-fields {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.input-fields > label {
  font: 500 1.5rem var(--regular);
}

.input-fields > input[type="number"]::-webkit-inner-spin-button,
.input-fields > input[type="number"]::-webkit-outer-spin-button {
  display: none;
  -moz-appearance: none;
}

.input-fields > input {
  padding: 1.2rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
  font: 400 1.5rem var(--regular);
}

.modal-form > button {
  padding: 1.5rem;
  font: 500 1.8rem var(--regular);
  border: none;
  background: linear-gradient(93deg, var(--orange), var(--pink));
  color: var(--white);
  border-radius: var(--radius);
}

.enquiry-box {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: nowrap;
}

.whatsapp-btn,
.actioncall-btn {
  width: 50%;
  padding: 1.5rem;

  text-align: center;
  font: 500 1.5rem var(--medium);

  border-radius: var(--radius);
}

.whatsapp-btn {
  border: 0.2rem solid var(--green);
  color: var(--green);
}

.actioncall-btn {
  border: 0.2rem solid var(--blue);
  color: var(--blue);
}

.whatsapp-btn > img,
.actioncall-btn > img {
  height: 3rem;
  width: 3rem;
  vertical-align: middle;
}

.visible {
  display: block !important;
}
.hide {
  display: none !important;
}

.follow-txt {
  display: none;
}
@media only screen and (max-width: 1200px) {
  .contact-dialogue {
    width: 45vw;
  }
}
@media only screen and (max-width: 992px) {
  html {
    font-size: 55%;
  }
  .navbar-container,
  .dynamiclinks-container,
  .hero-container,
  .seo-content,
  .footer-container,
  .sub-footer, .testimonials-container,
  .slider {
    max-width: 96rem;
  }

  .discount-container {
    flex-wrap: wrap;
    gap: 1rem;
  }
  .form {
    width: 60%;
  }
}
@media only screen and (max-width: 768px) {
  .navbar-container,
  .dynamiclinks-container,
  .hero-container,
  .seo-content,
  .footer-container,
  .sub-footer, .testimonials-container,
  .slider {
    max-width: 72rem;
  }

  .hero-container {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    gap: 1rem;
  }

  .dynamiclinks-container {
    flex-wrap: wrap;
  }

  .dynamiclinks-slider,
  .toggle-btn {
    width: 100%;
  }

  .dynamiclinks-slider {
    border-right: none;
  }

  .contact-dialogue {
    width: 55vw;
  }
  .form {
    width: 70%;
  }
  .social-medias > a > img {
    display: none;
  }

  .footer-logo > .logo::before,
  .footer-logo > .logo::after {
    width: 30% !important;
  }

  footer {
    height: 100vh;
  }
  .gallery-container {
    grid-template-columns: repeat(2, 1fr);
    transform: translate(-50%, -10%);
  }

  .footerlink-fields {
    border-right: none;
  }

  .sticky-nav{
    width: 100vw;
  }

  .testimoni{
    min-width: 45%;
  }

  .swiper-slide , .swiper-slide > img{
   height: 30vh;
  } 
}
@media only screen and (max-width: 576px) {
  .navbar-container,
  .dynamiclinks-container,
  .hero-container,
  .seo-content,
  .footer-container,
  .sub-footer , .testimonials-container, .slider{
    max-width: 54rem;
  }
  @keyframes slightSlide {
    from {
      left: 5%;
    }
    to {
      left: 95%;
    }
  }

  .dynamiclink {
    min-width: 20%;
  }

  .nested-nav {
    position: fixed;
    top: -150%;
    left: 0;
    z-index: 99999;

    flex-direction: column;
    justify-content: center;

    height: 100vh;
    width: 100%;
    background-color: var(--white);
    padding: 2rem;
  }

  .social-medias {
    flex-direction: column;
    gap: 2rem;
    height: 30vh;
    margin-bottom: 3rem;
  }

  .menu-btn,
  .close-btn {
    display: flex;
  }

  .close-btn {
    position: absolute;
    top: 2%;
    right: 2%;
    border: none;
  }

  .toFadein {
    animation: topFadeIn 0.5s ease 0s 1 forwards;
  }

  @keyframes topFadeIn {
    from {
      top: -150%;
    }
    to {
      top: 0%;
    }
  }

  .toFadeout {
    animation: topFadeOut 0.5s ease 0s 1 forwards;
  }
  @keyframes topFadeOut {
    from {
      top: 0%;
    }
    to {
      top: -150%;
    }
  }

  .contact-dialogue {
    width: 95vw;
  }
  .shape1,
  .shape2 {
    height: 30rem;
    width: 30rem;
  }

  .form {
    width: 90%;
  }
  .social-medias > a > span,
  .follow-txt {
    display: block;
    color: var(--light-black);
  }
  .social-medias > a > span {
    font: 500 2rem var(--light);
  }
  .follow-txt {
    color: #515151;
    white-space: nowrap;
    font: 600 3rem var(--bold);
  }

  .footer-logo > .logo::before,
  .footer-logo > .logo::after {
    width: 25% !important;
  }

  footer {
    height: auto;
  }
  .gallery-container {
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
    transform: translate(-50%, -10%);
  }
  .testimoni{
    min-width: 90%;
  }

  .sticky-nav{
    padding: 1rem 0rem;
  }
  .dynamiclinks-container{
    gap: 1rem;
    padding: 0rem 2rem .5rem;
  }

  .hero-container{
    padding: 7rem 2rem 3rem;
  }

  .chevron-left, .chevron-right{
    display: none;
  }

  .swiper-slide , .swiper-slide > img{
    height: 25vh;
   } 
}
